<div class="container">
    <div class="heading">Burgers
    </div>
    <div class="inputBurger">
        <form class="burgForm" action="/" method="POST">
            Enter a type of Burger:
            <br>
            <input type="text" name="name" class="burgText">
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
    <div class="burgerContainer burgerWell">
        <h2>Burgers yet to be Devoured</h2>
        <ul>
            {{#each burgers}} {{#unless this.devoured}}
            <div class="burgerCell">
                <li>
                    <div class="burgerName">
                        {{this.burger_name}}
                    </div>
                </li>
                <div class="eat">
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="eatBtn">Devour!</button>
                    </form>
                </div>
            </div>
            {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="eatenContainer burgerWell">
        <h2>Burgers Devoured</h2>
        <ul>
            {{#each burgers}} {{#if this.devoured}}
            <div class="burgerCell">
                <li>
                    {{this.burger_name}}
                </li>
                <div class="del">
                    <form action="/{{this.id}}?_method=DELETE" method="POST">
                        <button type="submit" class="eatBtn">Delete</button>
                    </form>
                </div>
            </div>
            {{/if}} {{/each}}
        </ul>
    </div>
</div>